<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/anasayfa.css">
    <title>Anasayfa</title>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="header">
                <img src="/img/vovicarslogo.png" alt="">
                <div class="search-wrapper">
                    <div class="wrapper">
                        <form action="./anasayfa" method="POST" class="searchForm">
                            <input style="margin-left: 60px; border-radius: 20px;" name="search" type="text" class="form-control" id="search" autocomplete="off" placeholder="Arama Yap">
                        </form>
                        <button style="margin-left: 60px; border-radius: 20px;" class="btn btn-secondary" id="search-button">Ara</button>
                    </div>
                </div>
                <div>
                    <ul class="navbar-wrapper" style="list-style-type: none;">
                        <li>
                          <a href="./yeni-ilan">Araba Sat</a>
                        </li>
                        <li>
                          <a href="./arac-filtreleme">Araba Al</a>
                        </li>
                        <li>
                            <% if (name==false) { %>
                                <a href="./user/login">Giriş/Kayıt</a>
                            <% } %>
                            <% if (name!=false) { %>
                                <a href="./user"><%= name %></a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="background"></div>
    <div class="container">
        <div class="container-wrapper">
            <div class="cars-title">Size Uygun Arabalar</div>
            <div class="cars-list">
                <div class="cars-wrapper">
                    <% for( let index = 0; index < cars.length; index++ ) { %>
                        <div class="car" id="<%= cars[index].ID %>">
                            <img class="car-image" src="/kucukresimler/<%= cars[index].kucukresim %>"></img>
                            <div class="car-title">
                                <hr>
                                <b><%= cars[index].aciklama %></b>
                            </div>
                            <b><%= cars[index].fiyat %> TL</b>
                        </div>
                    <% } %>

                </div>
            </div>
            <hr>
        </div>
    </div>
    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/anasayfa.js"></script>
</body>
</html>